.contenedorMapa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 50px 0;
}
.bloqueDer{
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.bloqueIzq{
    width: 100%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #213E58;
    padding: 0 20px;
}
.bloqueIzq p{
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #213E58;
    margin-top: 35px;
}
.bloqueIzq p span{
    color: #0692D0;
}
.linea {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(30%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.reset_map {
    z-index: 90;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #000;
}
.contenedorTiendas {
    padding: 0 20px;
    overflow-x: hidden;
    height: 330px;
    margin-top: 20px;
}
.contenedorTiendas h3 {
    cursor: pointer;
}
.tienda {
    margin: 5px 0px 10px;
    cursor: pointer;
}

.tienda h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #213E58;
}

.tienda p {
    font-weight: 500;
    margin: 0 0 0 20px;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    color: #213E58;
}

.mapboxgl-popup-close-button {
    font-size: 25px;
}

 .nombre_ciudad_popup {
     color: #0F2D45;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: 15px;
     margin-bottom: 10px;
 }

 .direccion_popup {
     color: #0F2D45;
     font-size: 13px;
     font-style: normal;
     font-weight: 700;
     line-height: 15px;
 }

 .telefono_popup {
     color: #0F2D45;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 15px;
     display: flex;
     margin-top: 10px;
 }

 .telefono_popup span svg {
     color: #000D20;
     font-size: 20px;
 }

  .boton_como_llegar {
      background: #0692D0;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      height: 26.797px;
      color: #FFF;
      text-align: center;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      border: none;
      border-radius: 2px;
      margin: 10px 3px 0 0;
      padding: 2px 8px;
  }
.contenedorInfoTiendaMapa{
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contenedorInfoTiendaMapa:hover {
        background: #f1f1f1;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contenedorInfoTiendaMapaActivo {
    background: #f1f1f1;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
@media (min-width: 821px) {
    .contenedorMapa {
            display: flex;
            justify-content: space-between;
            margin: 80px 0 50px 0;
            flex-direction: row;
        }
    
        .bloqueDer {
            width: 627px;
            height: 600px;
            background-color: #f1f1f1;
        }
    
        .bloqueIzq {
            width: 90%;
        }
    
        .bloqueIzq h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 29px;
            text-align: center;
            color: #213E58;
        }
    
        .bloqueIzq p {
            font-weight: 700;
            font-size: 20px;
            line-height: 19px;
            text-align: center;
            color: #213E58;
            margin-top: 35px;
        }
    
        .bloqueIzq p span {
            color: #0692D0;
        }
    
        .linea {
            position: relative;
            display: inline-block;
            margin-left: 5px;
        }
    
        .linea:before {
            content: '';
            width: 100%;
            z-index: -1;
            border-bottom: 7px solid #FBBE00;
            position: absolute;
            display: block;
            height: 5px;
            transform: translateY(30%);
        }
    
        .linea:before {
            left: 2px;
            top: calc(50% - 1px);
        }
        .reset_map {
            z-index: 90;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            color: #000;
        }
        .contenedorTiendas {
            padding: 0 20px;
            overflow-x: hidden;
            height: 470px;
            margin-top: 0;
        }

        .tienda {
            margin: 5px 0px 10px;
            cursor: pointer;
        }

        .tienda h5 {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #213E58;
        }

        .tienda p {
            font-weight: 500;
            margin: 0 0 0 20px;
            font-size: 14px;
            text-align: left;
            line-height: 20px;
            color: #213E58;
        }

          .nombre_ciudad_popup {
              color: #0F2D45;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 15px;
              margin-bottom: 10px;
          }
    
          .direccion_popup {
              color: #0F2D45;
              font-size: 13px;
              font-style: normal;
              font-weight: 700;
              line-height: 15px;
          }
    
          .telefono_popup {
              color: #0F2D45;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 15px;
              display: flex;
              margin-top: 10px;
          }
    
          .telefono_popup span svg {
              color: #000D20;
              font-size: 20px;
          }
    
          .boton_como_llegar {
              background: #0692D0;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              height: 26.797px;
              color: #FFF;
              text-align: center;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 15px;
              border: none;
              border-radius: 2px;
              margin: 10px 3px 0 0;
          }
}