.main {
    margin: 0 auto;
    max-width: 1060px;
    padding: 70px 20px;
}
.titulo{
    text-align: center;
    margin: 10px 0 20px 0;
}

.main p{
    text-align: justify;
}
.Listado li{
    list-style:inside;
    font-size: 14px;
    text-align: justify;
}


@media (min-width: 610px) {
    .main {
            padding: 140px 0 40px 0;
            margin: 0 auto;
            max-width: 1060px;
        }
    
        .titulo {
            text-align: center;
            margin: 10px 0 20px 0;
        }
    
        .main p {
            text-align: justify;
        }
    
        .Listado li {
            list-style: inside;
            font-size: 14px;
            text-align: justify;
        }
    }