.contenedorContenidoUno{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    flex-direction: column;
    padding: 0 20px;
}
.contenedorSectionTres h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #213E58;
    margin: 40px 40px;
}
.linea {
    position: relative;
    display: inline-block;
}
.linea:before{
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.bloqueDer {
    width: 100%;
}
.bloqueIzq {
    width: 100%;
    margin-bottom: 50px;
}
.bloqueIzq h2, .bloqueDer h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    margin-bottom: 20px;
    text-align: center;
}
.bloqueIzq p, .bloqueDer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #213E58;
    text-align: center;
}
.bloqueIzq p span{
font-weight: 700;
}

.contenedorInfoTres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cards{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    width: 330px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards p:first-child{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #0692D0;
}
.cards p {
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #213E58;
    margin-top: 15px;
    width: 80%;
}
@media (min-width: 1191px) {
    .contenedorContenidoUno {
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
        flex-direction: row;
        padding: 0;
    }

    .contenedorSectionTres h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        color: #213E58;
        margin-bottom: 40px;
    }

    .bloqueIzq {
        width: 43%;
        margin-bottom: 50px;
    }

    .linea {
        position: relative;
        display: inline-block;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }

    .bloqueDer {
        width: 50%;
    }

    .bloqueIzq h2,
    .bloqueDer h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #213E58;
        margin-bottom: 10px;
        text-align: start;
    }

    .bloqueIzq p,
    .bloqueDer p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #213E58;
        text-align: start;
    }

    .bloqueIzq p span {
        font-weight: 700;
    }

    .contenedorInfoTres {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cards {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        width: 330px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards p:first-child {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        color: #0692D0;
    }

    .cards p {
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #213E58;
        margin-top: 15px;
        width: 80%;
    }
}




