.contenedorSectionCuatro {
    background: rgba(227, 231, 240, 0.47);
    padding: 50px 20px 20px 20px;
    margin: 0;
}
.contenedorSectionCuatroMargen {
    max-width: 1060px;
    margin: 0 auto 30px;
    flex-direction: column-reverse;
    justify-content: space-between;
    display: flex;
    gap: 50px;
}
.bloqueIzq {
width: 100%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gotham Bold';
}
.bloqueIzq p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #213E58;
    text-align: justify;
    margin-bottom: 30px;
}

.bloqueDer img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.linea {
    position: relative;
    display: inline-block;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(30%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
@media (min-width: 610px) {
    .contenedorSectionCuatro{   
        background: rgba(227, 231, 240, 0.47);
        padding: 60px 0;
        margin: 40px 0;
    }
.contenedorSectionCuatroMargen {
    max-width: 1060px;
    margin: 0 auto 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    gap: 50px;
}
    .bloqueIzq {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .bloqueDer{
        width: 70%;
    }
    .bloqueIzq h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #213E58;
        margin-bottom: 30px;
        text-align: start;
    }

    .bloqueIzq p {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #213E58;
        text-align: justify;
        margin-bottom: 0;
    }

    .linea {
        position: relative;
        display: inline-block;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(30%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }
    .bloqueDer img {
        width: 100%;
    }
}