 .contenedorBreadcrumbs, .breadcrumbsRaiz{
     display: none;
 }

@media (min-width: 610px) {
    .contenedorBreadcrumbs {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 11px;
        color: #0692D0;
        display: flex;
        align-items: center;
    }

    .contenedorBreadcrumbs svg {
        font-size: 20px;
        margin-top: 2px;
    }
    .breadcrumbsRaiz{
        display: block;
    }
    .sectionBreadcrumbs {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 11px;
        color: #213E58;
        max-width: 1060px;
        margin: 20px auto 0;
    }
}
