.contenedorSectionDos{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.bloqueInferior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bloqueSuperior h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #000831;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gotham Bold';
}
.bloqueSuperior p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #918F8F;
    padding: 0 10px;
}
.imagenventaja1{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0F2D45;
}
.contenedorVentajas p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #0F2D45;
    width: 70%;
    margin-top: 20px;
}
.contenedorVentajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.linea {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.linea:after {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}
.linea:after {
    left: 2px;
    top: calc(50% - 1px);
}
@media (min-width: 821px) {
.contenedorSectionDos {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .bloqueInferior {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bloqueSuperior h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #000831;
        margin-bottom: 30px;
    }
    .bloqueSuperior p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #918F8F;
        padding: 0 160px;
    }
    .imagenventaja1 {
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.18);
        border-radius: 50%;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedorVentajas p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #0F2D45;
        width: 70%;
        margin-top: 20px;
    }
    .contenedorVentajas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin-bottom: 30px;
    }
    .linea {
        position: relative;
        display: inline-block;
        z-index: 1;
    }
    .linea:after {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }
    .linea:after {
        left: 2px;
        top: calc(50% - 1px);
    }
}