.contendorSectionDos{
    padding: 0 20px;
}
.contendorBloques {
    justify-content: center;
    background-color: #0692D0;
    width: 100%;
    height: 743px;
    border-radius: 8px;
    margin-top: 55px;
}
.bloqueIzq, .bloqueDer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
}
.bloqueIzq figure img{
    width: 80px;
    height: 80px;
}
.contenedorInfo h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.contenedorInfo p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.contenedorBotones{
    margin-top: 30px;
    display: flex;
    gap: 10px;
  
}
.botonComprar, .botonVender{
    background: #1864A8;
    align-items: center;
    padding: 13px 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}

.botonActivo{
    background: #E83C82;
}

@media (min-width: 1191px) {
    .contendorBloques {
        width: 100%;
        height: 490px;
        border-radius: 8px;
        margin-top: 55px;
        display: flex;
        gap: 60px;
        background: url(https://quickgold.es/degradadoMadrid.png) no-repeat;
        background-blend-mode: multiply;
        background-position: left;
        background-size: 50%;
        background-color: #0692D0;
    }
    .contendorSectionDos {
        padding: 0;
    }
        .bloqueIzq,
        .bloqueDer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .bloqueIzq figure img {
            width: 80px;
            height: 80px;
        }
        .contenedorInfo h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
        .contenedorInfo p {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
        }
        .contenedorBotones {
            margin-top: 30px;
            display: flex;
            gap: 10px;
        }
        .botonComprar,
        .botonVender {
            background: #1864A8;
            align-items: center;
            padding: 13px 10px;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            border: none;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 13px;
            line-height: 14px;
            text-align: center;
            cursor: pointer;
        }
        .botonActivo {
            background: #E83C82;
        }
}