.contenedorSectionTresMargen{
    max-width: 1060px;
    margin: 0 auto;
    padding: 60px 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.bloqueIzq {
    width: 100%;
    border: 1px solid;
    border-radius: 8px;
    padding: 49px 30px;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #0F2D45;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Gotham Bold';
}
.bloqueIzq p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #0F2D45;
    margin-bottom: 20px;
}
.bloqueDer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #0F2D45;
    border-radius: 8px;
    padding: 20px 0;
    margin-bottom: 40px;
}
.contenidoBloqueDer{
    width: 90%;
    height: auto;
    background: #036F9A;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.contenidoBloqueDer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 15px 15px 25px;
    text-align: center;
}
.contenidoBloqueDer img{
    position: absolute;
    top: -61px;
    right: -51px;
    display: none;
}
.linea {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.linea:after {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}

.linea:after {
    left: 2px;
    top: calc(50% - 1px);
}
.bloqueSuperiorTexto {
    display: flex;
}

.bloqueSuperiorTexto p:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bloqueSuperiorTexto p:nth-child(2) {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bloqueIzqInferior {
    border-radius: 8px;
    background: #0F2D45;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin-top: 0;
}

.bloqueIzqInferior p {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.telefono{
    color: #E83C82;
}
@media (min-width: 610px) {
    .contenedorSectionTresMargen {
        max-width: 1060px;
        margin: 0 auto;
        padding: 60px 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .bloqueIzq {
        width: 50%;
        border: 1px solid;
        border-radius: 8px;
        padding: 49px 30px;
    }

    .bloqueIzq h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #0F2D45;
        margin-bottom: 60px;
        text-align: center;
        padding: 0 50px;
    }

    .bloqueIzq p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        color: #0F2D45;
        margin-bottom: 20px;
    }

    .bloqueDer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        background: #0F2D45;
        border-radius: 8px;
        padding: 20px 0;
        margin-bottom: 0;
    }

    .contenidoBloqueDer {
        width: 250px;
        height: 215px;
        background: #036F9A;
        border-radius: 8px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contenidoBloqueDer p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 50px 15px 15px 25px;
        text-align: left;
    }

    .contenidoBloqueDer img {
        position: absolute;
        top: -61px;
        right: -51px;
        display: block;
    }

    .linea {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .linea:after {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }

    .linea:after {
        left: 2px;
        top: calc(50% - 1px);
    }
    .bloqueSuperiorTexto{
        display: flex;
    }
    .bloqueSuperiorTexto p:nth-child(1){
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bloqueSuperiorTexto p:nth-child(2) {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bloqueIzqInferior{
        border-radius: 8px;
        background: #0F2D45;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        margin-top: 50px;
    }
    .bloqueIzqInferior p{
        color: #FFF;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}