.contenedorSectionTresMargen{
    max-width: 1060px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.bloqueIzq {
    width: 100%;
    padding: 0 20px;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #0F2D45;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Gotham Bold';
}
.linea {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.linea:after {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}
.linea:after {
    left: 2px;
    top: calc(50% - 1px);
}
.contenidoTextos{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contenidoTextos h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 20px 60px;
    text-align: center;
}
.textoUno{
    color: #908F8F;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}
.textoDos, .textoTres{
    color: #0F2D45;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
@media (min-width: 821px) {
    .contenedorSectionTresMargen {
        max-width: 1060px;
        margin: 0 auto;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bloqueIzq {
        width: 100%;
        padding: 0;
    }
    .bloqueIzq h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #0F2D45;
        margin-bottom: 20px;
        text-align: center;
    }
    .linea {
        position: relative;
        display: inline-block;
        z-index: 1;
    }
    .linea:after {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }
    .linea:after {
        left: 2px;
        top: calc(50% - 1px);
    }
    .contenidoTextos h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 33px;
        color: #FFFFFF;
        padding: 20px 70px 20px 25px;
        text-align: left;
    }
}