.contenedorSectionCuatro{
    width: 370px;
    margin: 0 auto;
    border-radius: 8px;
    background: transparent;
}
.contenedorSectionCuatroMargen{
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
    gap: 20px;
    flex-direction: column;
}
.bloqueIzq{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0F2D45;
    padding: 40px;
    border-radius: 8px;
    margin-top: 40px;
}
.bloqueDer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 8px;
}
.bloqueDerPc {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #000;
    position: relative;
    padding: 25px;
    height: auto;
}
.bloqueDerPc img{
   display: none;
}
.bloqueDerPcTitulo {
    color: #213E58;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 0 30px;
    margin: 30px 0;
    font-family: 'Gotham Bold';
}
.bloqueDerPcTextoUno {
    color: #213E58;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.bloqueDerPcCuadro {
    border-radius: 2px;
    background: #F3F3F3;
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.bloqueDerPcCuadro p {
    color: #213E58;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.bloqueDerPcTextoDos {
    color: #213E58;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

.bloqueDerPcTextoTres {
    color: #213E58;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    font-family: 'Gotham Bold';
}
.bloqueIzqTexto{
    width: 280px;
    height: 239px;
    background: linear-gradient(180deg, #0F2D45 0%, rgba(24, 100, 168, 0) 107.1%);
    border-radius: 8px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.bloqueIzqTexto h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0;
}
.bloqueIzqTexto p {
    font-weight: 100;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.select{
    width: 260px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.bloqueDer p{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #0F2D45;
    margin-bottom: 20px;
    text-align: center;
}
.bloqueDer p:nth-child(2) {
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #0F2D45;
}
.botonLlamar {
    background: #E83C82;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 215px;
    height: 40px;
    display: none;
}

.botonPopUp {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.botonPopUp {
    width: 260px;
    height: 40px;
    background: #0692D0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 13px 5px;
    text-transform: uppercase;
    border: none;
}
.bloqueDerLista{
    list-style:inside;
    color: #0F2D45;
    margin-bottom: 30px;
}
.adornoMobil{
    display: none;
}
.bloqueSuperiorTexto {
    display: flex;
}

.bloqueSuperiorTexto p:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bloqueSuperiorTexto p:nth-child(2) {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.linea {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}

.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}

@media (min-width: 610px) {
.contenedorSectionCuatro {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        position: relative;
        background: transparent;
    }

    .contenedorSectionCuatroMargen {
        display: flex;
        max-width: 1060px;
        margin: 0 auto;
        padding: 60px 10px;
        gap: 25px;
        flex-direction: row;
    }

    .bloqueIzq {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border-radius: 8px;
        margin-top: 0;
    }

    .bloqueDer {
        display: none;
    }
    .bloqueDerPc {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid #000;
        position: relative;
        padding: 25px;
        height: auto;
    }
    .bloqueDerPcTitulo {
        color: #213E58;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        padding: 0 30px;
        margin: 30px 0;
        font-family: 'Gotham Bold';
    }
    .bloqueDerPc img{
        position: absolute;
        bottom: -5px;
        right: -52px;
        display: block;
    }

    .bloqueDerPc p {
        display: block;
    }
    .bloqueIzqTexto {
        width: 490px;
        height: 239px;
        background: linear-gradient(180deg, #0F2D45 0%, rgba(24, 100, 168, 0) 107.1%);
        border-radius: 8px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .bloqueIzqTexto h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
        margin: 10px 0;
    }

    .bloqueIzqTexto p {
        font-weight: 100;
        font-size: 13px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .select {
        width: 455px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }

    .bloqueDer p {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .bloqueDer p:nth-child(2) {
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: #FFFFFF;
    }

    .botonLlamar {
        background: #E83C82;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: 205px;
        height: 40px;
        display: block;
    }
    .botonPopUp {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .botonPopUp {
        width: 455px;
        height: 40px;
        background: #0692D0;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 13px 5px;
        text-transform: uppercase;
        border: none;
    }
    .adornoMobil {
        display: block;
        position: absolute;
        right: 50px;
        top: -105px;
        z-index: -1;
    }
    .bloqueSuperiorTexto {
        display: flex;
    }

    .bloqueSuperiorTexto p:nth-child(1) {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .bloqueSuperiorTexto p:nth-child(2) {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bloqueDerPcTextoUno{
        color:  #213E58;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bloqueDerPcTextoDos{
        color:  #213E58;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .bloqueDerPcTextoTres{
        color:  #213E58;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
    }
    .bloqueDerPc img {
        display: block;
    }
    .linea {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }
}