.tituloAccordion{
    color: #0F2D45;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.contenedorTituloAccordion{
    background: #fff!important;
    border-bottom: 1px solid #D9D9D9;
}
.contenedorAccordion{
    border: none!important;
}
.contenerdorContenidoAccordion{
    display: flex;
    justify-content: flex-end;
}
.contenidoAccordion{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #0F2D45;
    text-align: justify;
    border-left: 4px solid #0692D0;
    padding: 0 0 0 10px;
    width: 90%;
}

@media (min-width: 821px) {
.tituloAccordion {
        color: #0F2D45;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
    }
    .contenedorTituloAccordion {
        background: #fff !important;
        border-bottom: 1px solid #D9D9D9;
    }
    .contenedorAccordion {
        border: none !important;
    }
    .contenerdorContenidoAccordion {
        display: flex;
        justify-content: flex-end;
    }
    .contenidoAccordion {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #0F2D45;
        text-align: justify;
        border-left: 4px solid #0692D0;
        padding: 0 0 0 10px;
        width: 90%;
    }
}