.contenedorMenuMobil{
    background: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
.closeBoton{
    display: flex;
    justify-content: flex-end;
    margin: 20px -9px 50px 0;
    cursor: pointer;
}
.closeBoton svg{
    font-size: 43px;
    color: #FFFFFF;
}
.menuMobil{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #0692D0;
    transition: 0.4s;
    padding: 0 20px;
    text-transform: uppercase;
}
.listasMenu a{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.servicios{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;
}
.servicios a{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;
}
.servicios svg{
    font-size: 36px;
    margin: 0 -10px 0 6px;
}
.subServicios{
    background: #213E58;
    width: 115%;
    height: auto;
    margin-left: -20px;
    transition: 1s;
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: height .3s ease;
}
.subServicios a{
    padding-right: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
}
.subMenuActivo{
    height: 150px;
}
.menuActive{
    right: -300px;
}
.menuActive1 {
    width: 100%;
}
