.contenedorMenuMobil {
    display: flex;
    background: transparent;
    position: fixed;
    top: 0;
    right: -2000px;
    width: 100%;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.closeBoton {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: fixed;
    background: #036F9A;
    z-index: 20;
    width: 80%;
    padding: 30px 20px;
}

.closeBoton svg {
    font-size: 43px;
    color: #FFFFFF;
}

.menuMobil {
    width: 80%;
    height: 103vh;
    background: #036F9A;
    transition: 0.4s;
    text-transform: uppercase;
    margin-right: -330px;
}

.listasMenu a {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.servicios {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;
    padding-right: 15px;
}

.servicios a {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;

}

.servicios svg {
    font-size: 36px;
    margin: 0 -10px 0 6px;
}

.subServicios {
    background: #0F2D45;
    width: 100%;
    height: auto;
    transition: 1s;
    position: relative;
    height: 0px;
    transition: height .3s ease;
    overflow-x: scroll;
}

.subServicios a {
    padding-right: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
}

.subMenuActivoServicios {
    height: 150px;
}

.subMenuActivo {
    height: 800px;
    overflow-x: hidden;
}

.menuActive {
    margin-left: 0;
}

.menuActive1 {
    right: 0;
}

.contenedorListasMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    margin-top: 110px;
}

.menuInferiorMobil {
    background: #036F9A;
    border-top: 3px solid #fff;
    padding: 10px 15px 30px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.menuInferiorMobil ul li {
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    color: #FFFFFF;
}

.background {
    width: 20%;
}