.contenedorMenuMobil {
    display: flex;
    background: transparent;
    width: 100%;
    overflow: scroll;
    transition: 0.3s ease-in-out;
    height: 100vh;
}

.menuMobil {
    width: 100%;
    background: #036F9A;
    transition: 0.4s;
    text-transform: uppercase;
}

.listasMenu a {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    font-family: 'Gotham Bold';
}
.contacto{
    font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15px;
        background: #036F9A;
}
.servicios {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;
    padding-right: 15px;
    background: #036F9A;
    font-family: 'Gotham Bold';
}

.servicios a {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Gotham Bold';

}

.servicios svg {
    font-size: 36px;
    margin: 0 -10px 0 0;
}

.subServicios {
    background: #0F2D45;
    width: 100%;
    height: auto;
    transition: 1s;
    position: relative;
    height: 0px;
    transition: height .3s ease;
    overflow-x: scroll;
    
}

.subServicios a {
    padding: 0px 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Gotham Bold';
}

.subMenuActivoServicios {
    height: 280px;
    padding: 15px 0;
}

.subMenuActivo {
    height: 800px;
    overflow-x: hidden;
    padding: 15px 0;
}

.menuActive {
    margin-left: 0;
}

.menuActive1 {
    right: 0;
}

.contenedorListasMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    margin-top: 20px;
}

.menuInferiorMobil {
    background: #036F9A;
    border-top: 3px solid #fff;
    padding: 10px 15px 30px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.menuInferiorMobil ul li {
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    color: #FFFFFF;
    font-family: 'Gotham Bold';
}

.background {
    width: 20%;
}
.serviciosTiendas{
    padding-right: 0!important;
}