/*Fuentes de Gotham*/
@font-face {
  font-family: 'Gotham Medium Italic';
  src: url('/Gotham-MediumItalic.woff2') format('woff2'), url('/Gotham-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Black Italic';
  src: url('/Gotham-BlackItalic.woff2') format('woff2'), url('/Gotham-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/Gotham-Light.woff2') format('woff2'), url('/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/Gotham-Medium.woff2') format('woff2'), url('/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/Gotham-Book.woff2') format('woff2'), url('/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Light Italic';
  src: url('/Gotham-LightItalic.woff2') format('woff2'), url('/Gotham-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('/Gotham-Black.woff2') format('woff2'), url('/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('/Gotham-UltraItalic.woff2') format('woff2'), url('/Gotham-UltraItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Bold Italic';
  src: url('/Gotham-BoldItalic.woff2') format('woff2'), url('/Gotham-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('/Gotham-Bold.woff2') format('woff2'), url('/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Book Italic';
  src: url('/Gotham-BookItalic.woff2') format('woff2'), url('/Gotham-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Thin Italic';
  src: url('/Gotham-ThinItalic.woff2') format('woff2'), url('/Gotham-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('/Gotham-Ultra.woff2') format('woff2'), url('/Gotham-Ultra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('/Gotham-Thin.woff2') format('woff2'), url('/Gotham-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

/*Fuentes de Gotham*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'Gotham Book', sans-serif;
}

input,
select,
button {
  font-family: 'Gotham Book', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.mapboxgl-popup-close-button {
  font-size: 30px !important;
  right: 6px !important;
  color: #0F2D45 !important;
}
.scroll-to-top {
  margin-bottom: 50px;
  margin-right: -20px;
}
.MuiBox-root {
  padding: 0 !important;
  margin-bottom: 40px;

}

.MuiTabs-indicator {
  display: none;
}

.MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px 0;
}

.MuiAccordionSummary-content svg {
  color: #0692D0 !important;
  font-size: 30px !important;
}

.css-ibyop0-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 0 0 20px 0 !important;
}

.css-1tjvent-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin-left: 0 !important;
}
@media (min-width: 610px) {
  .scroll-to-top {
    margin-bottom: -10px;
    margin-right: 40px;
  }
}


