.main {
  padding-top: 90px;
  max-width: 1060px;
  margin: 0 auto;
}
.contenedorMapaVisible {
  height: 1012px;
}

@media (min-width: 610px) {
  .main {
      padding-top: 120px;
      max-width: 1060px;
      margin: 0 auto;
    }
}

@media (min-width: 1191px) {
  .main {
    padding-top: 135px;
    max-width: 1060px;
    margin: 0 auto;
  }
  .contenedorMapaVisible {
    height: 600px;
  }
}



