.main {
  margin: 0 auto;
  max-width: 1010px;
}
.contenedorMapaVisible {
  height: 1010px;
}

@media (min-width: 610px) {
.main {
    margin: 0 auto;
  }
}

@media (min-width: 1191px) {
  .contenedorMapaVisible {
    height: 600px;
  }
}



