.contenedorSectionCuatro{
    width: 100%;
    border-radius: 8px;
    background: transparent;
    margin-top: 50px;
    padding: 0 20px;
}
.contenedorSectionCuatroMargen{
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
    gap: 60px;
    flex-direction: column;
}
.bloqueDerMobil {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
        padding: 20px 20px;
}
.bloqueDerPc{
    display: none;
}
.bloqueDerPc img {
    display: none;
}
.bloqueDerPc p{
    display: none;
}
.botonPopUp {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.botonPopUp {
    width: 260px;
    height: 40px;
    background: #0692D0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 13px 5px;
    text-transform: uppercase;
    border: none;
}
.bloqueDerLista{
    list-style:inside;
    color: #0F2D45;
    margin-bottom: 30px;
}
.adornoMobil{
    display: none;
}
.bloqueSuperiorTexto {
    display: flex;
}
.botonLlamar {
    border-radius: 8px;
    background: #E83C82;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
@media (min-width: 610px) {
.contenedorSectionCuatro {
        width: 100%;
        margin-top: 50px;
        border-radius: 0;
        position: relative;
        background: transparent;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .contenedorSectionCuatroMargen {
        display: flex;
        max-width: 1060px;
        margin: 0 auto;
        padding: 60px 10px;
        gap: 25px;
        flex-direction: column;
    }

    .bloqueDerMobil {
        display: none;
    }
    .bloqueDerPc {
        width: 456px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #000;
        position: relative;
    }
    .bloqueDerPc img{
        position: absolute;
        bottom: -20px;
        right: -52px;
        display: block;
    }

    .bloqueDerPc p {
        color: #0F2D45;
        text-align: center;
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        line-height: 55px;
        padding: 0 30px;
        display: block;
    }
    .botonLlamar {
        background: #E83C82;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: 205px;
        height: 40px;
        display: block;
    }
    .botonPopUp {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .botonPopUp {
        width: 455px;
        height: 40px;
        background: #0692D0;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 13px 5px;
        text-transform: uppercase;
        border: none;
    }
    .adornoMobil {
        display: block;
        position: absolute;
        right: 50px;
        top: -105px;
        z-index: -1;
    }
}