.contenedorResenasGoogle{
    width: 290px;
}
.contenedorSuperior{
    display: flex;
    gap: 20px;
    position: relative;
}

.imagenGoogle{
    position: absolute;
    bottom: 0;
    left: 45px;
    background: #FFFFFF;
    border-radius: 50%;
    padding: 3px;
}
.nombreUsuario{
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #213E58;
}
.textoInferior{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #213E58;
}
.img_stars {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAQAAAAz1Zf0AAAAWklEQVR4AY3O0QbDQBCG0UNYQi0hhBJqr8Iy7/94vewYlp65/Ay//4WlLnQLt3BbeIRH5jBFPVMHmlHS0CRnSqdiT3GH1edb8RGmoy4GwrBhM4Qmebn8XDrwBW7xChrojlOZAAAAAElFTkSuQmCC);
    background-size: 14px 13px;
    height: 13px;
    top: 1px;
    width: 69px;
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 3px;
}

.imgValoracion {
    background-repeat: repeat-x;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAZklEQVR4AWL4uYWZCdAJHVMBAIJAAG1DoAtjGarYxxjqwHADnA8HFuWL3E8puH8gAqILPaB34Qq4FAQ1yoo+8ES7NRWKe6u+Ogo0XjtaCmlSd6K/4OQQOF0JKYTsMasgOIRkBfDZATita/85jgoHAAAAAElFTkSuQmCC);
    background-size: 14px 13px;
    height: 13px;
    top: 1px;
}
.valoracionResenas {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FBBE00;
    margin: 0 7px 0 8px;
}
.textoContenido{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #213E58;
    margin-top: 5px;
    width: 280px;
}
.botonVerMas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonVerMas a{
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0692D0;
    width: 64px;
}

@media (min-width: 610px) {
.contenedorResenasGoogle {
        width: 290px;
    }

    .contenedorSuperior {
        display: flex;
        gap: 20px;
        position: relative;
    }

    .imagenGoogle {
        position: absolute;
        bottom: 0;
        left: 45px;
        background: #FFFFFF;
        border-radius: 50%;
        padding: 3px;
    }

    .nombreUsuario {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #213E58;
    }

    .textoInferior {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #213E58;
    }

    .img_stars {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAQAAAAz1Zf0AAAAWklEQVR4AY3O0QbDQBCG0UNYQi0hhBJqr8Iy7/94vewYlp65/Ay//4WlLnQLt3BbeIRH5jBFPVMHmlHS0CRnSqdiT3GH1edb8RGmoy4GwrBhM4Qmebn8XDrwBW7xChrojlOZAAAAAElFTkSuQmCC);
        background-size: 14px 13px;
        height: 13px;
        top: 1px;
        width: 69px;
        background-repeat: repeat-x;
        display: inline-block;
        overflow: hidden;
        position: relative;
        left: 3px;
    }

    .imgValoracion {
        background-repeat: repeat-x;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAZklEQVR4AWL4uYWZCdAJHVMBAIJAAG1DoAtjGarYxxjqwHADnA8HFuWL3E8puH8gAqILPaB34Qq4FAQ1yoo+8ES7NRWKe6u+Ogo0XjtaCmlSd6K/4OQQOF0JKYTsMasgOIRkBfDZATita/85jgoHAAAAAElFTkSuQmCC);
        background-size: 14px 13px;
        height: 13px;
        top: 1px;
    }

    .valoracionResenas {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FBBE00;
        margin: 0 7px 0 8px;
    }

    .textoContenido {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #213E58;
        margin-top: 5px;
        width: 280px;
    }
}