.header{
    background: #036F9A;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    z-index: 200;
}
.contenedorLogo{
    height: 70px;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menuHamburquesa svg{
    color: #fff;
    font-size: 43px;
    display: block;
    cursor: pointer;
    margin-bottom: 4px;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    width: 80%!important;
}
.contenedorRedes {
    display: none;
}

.closeBoton {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    background: #036F9A;
    z-index: 20;
    width: 100%;
    padding: 10px 0px;
}

.closeBoton svg {
    font-size: 43px;
    color: #FFFFFF;
}

@media (min-width: 610px) {
    .header {
            background: #036F9A;
            position: absolute;
            width: 100%;
            top: 0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
            z-index: 200;
        }
    
        .contenedorLogo {
            height: 80px;
            max-width: 1060px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .contenedorRedes {
            display: flex;
            gap: 20px;
        }
    
        .contenedorIconos {
            display: flex;
            gap: 10px;
            color: #fff;
            align-items: center;
        }
    
        .contenedorIconos svg {
            font-size: x-large;
        }
    
        .botonLlamar a {
            background: #E83C82;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13px 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;
            width: 271px;
            height: 40px;
        }
    
        .linkedin {
            position: relative;
        }
    
        .vector {
            width: 12px;
            height: 12px;
            position: absolute;
            top: -14px;
            left: -18px;
        }
        .menuHamburquesa {
            display: none;
        }
}

