.contenedorSectionCinco{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0;
}
.sectionCincoContenido{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.contenedorSectionCincoMargen h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #000831;
    margin-bottom: 30px;
    padding: 0 20px;
    font-family: 'Gotham Bold';
}
.linea {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}

.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.contenidoCard{
    width: 341px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    padding: 30px;
}
.contenidoCard p:nth-child(1){
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #0692D0;
    margin-bottom: 20px;
    font-family: 'Gotham Bold';
}
.contenidoCard p:nth-child(2) {
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #000831;
    margin-bottom: 20px;
    font-family: 'Gotham Bold';
}
.contenidoCard p:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #0F2D45;
}
.parrafoVenderDiamantes{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
    background: #036F9A;
    width: 320px;
    height: 97px;
    border-radius: 8px;
    margin: 0 auto 50px;
    padding-top: 20px;
}
.parrafoVenderDiamantes a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}
@media (min-width: 610px) {
.contenedorSectionCinco {
        max-width: 1060px;
        margin: 0 auto;
        padding: 10px 0 60px 0;
    }

    .sectionCincoContenido {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 0;
        justify-content: center;
    }

    .contenedorSectionCincoMargen h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        color: #000831;
        margin: 50px 0;
    }

    .linea {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(40%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }

    .contenidoCard {
        width: 341px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        padding: 30px;
    }

    .contenidoCard p:nth-child(1) {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        color: #0692D0;
        margin-bottom: 20px;
    }

    .contenidoCard p:nth-child(2) {
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #000831;
        margin-bottom: 20px;
    }

    .contenidoCard p:nth-child(3) {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        color: #0F2D45;
    }
    .parrafoVenderDiamantes {
        color: #0F2D45;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: 500;
        padding: 0 20px;
        background: #fff;
        width: 100%;
        height: 97px;
        border-radius: 8px;
        margin: 0 auto 20px;
        padding-top: 20px;
    }
    .parrafoVenderDiamantes a {
        color: #E83C82;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
    }
}