.contenedorSectionTres{
    max-width: 1060px;
    margin: 0 auto;
}
.bloqueInferior{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bloqueInferiorCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.bloqueSuperior h3{
    color: #0F2D45;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 55px 0;
    font-family: 'Gotham Bold';
}
.bloqueInferiorTexto{
    padding: 0 0 20px 0;
}
.bloqueInferiorTexto p:nth-child(1) {
    color: #0F2D45;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: 'Gotham Bold';
    margin-bottom: 20px;
}
.bloqueInferiorTexto p{
    color: #0F2D45;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 0 30px;
}

.bloqueInferiorImagen {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloqueInferiorImagen a{
    width: 100%;
}
.imagenHome{
    width: 100%;
    height: auto;
}
@media (min-width: 610px) {
    .contenedorSectionTres {
        max-width: 1060px;
        margin: 0 auto;
    }
    .bloqueInferior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .bloqueInferiorCard {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }
    .bloqueSuperior h3 {
        color: #0F2D45;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 55px 0;
    }
    .bloqueInferiorTexto {
        padding: 0 0 20px 0;
    }
    .bloqueInferiorTexto p:nth-child(1) {
        color: #0F2D45;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bloqueInferiorTexto p {
        color: #0F2D45;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 0 30px;
    }
    .bloqueInferiorImagen {
        width: 295px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

