.contenedorSectionDos{
    max-width: 1060px;
    margin: 0 auto;
    height: auto;
    padding: 0 20px;
}
.TituloSectionDos{
    color: #0F2D45;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    font-family: 'Gotham Bold';
}
.textoSectionDos{
    color: #0F2D45;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 30px 0;
    text-align: center;
}
/* estilos del select */
.select {
    width: 100%;
    height: 56px;
    border-radius: 2px;
    background: #FFF;
    border: 1px solid #0F2D45;
    outline: none;
    display: flex;
    color: #E83C82;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    font-family: 'Gotham Book';
    margin-top: 45px;
}
/* fin estilos select*/
.lineaAdorno{
    background: #D9D9D9;
    width: 100%;
    height: 1px;
    margin: 30px auto 50px;
}
@media (min-width: 821px) {
.contenedorSectionDos {
        max-width: 1060px;
        margin: 0 auto;
        height: auto;
        padding: 0;
    }
    .TituloSectionDos {
        color: #0F2D45;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
    }
    .textoSectionDos {
        color: #0F2D45;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 10px 0;
        text-align: left;
    }
    /* estilos del select */
  .select {
      width: 332px;
      height: 56px;
      border-radius: 2px;
      background: #FFF;
      border: 1px solid #0F2D45;
      outline: none;
      display: flex;
      color: #E83C82;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
  }
    /* fin estilos select*/
    .lineaAdorno {
        background: #D9D9D9;
        width: 635px;
        height: 1px;
        margin: 70px auto 50px;
    }
}