.contenedorSectionCuatro{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 20px;
}
.bloqueIzq {
width: 100%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gotham Bold';
}
.bloqueIzq p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #213E58;
    text-align: justify;
    margin-bottom: 30px;
}
@media (min-width: 821px) {
    .contenedorSectionCuatro {
        display: flex;
        padding: 0;
        flex-direction: row;
        margin-top: 60px;
        justify-content: space-between;
    }
    .bloqueIzq {
        width: 100%;
    }
    .bloqueIzq h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #213E58;
        margin-bottom: 15px;
        text-align: center;
    }
    .bloqueIzq p {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #213E58;
        text-align: justify;
        margin-bottom: 0;
    }
}