.contenedorSectionUno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 20px;
}
.linea {
    position: relative;
    display: inline-block;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(40%);
}

.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.bloqueIzq {
    width: 100%;
}
.bloqueIzq h1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    width: 100%;
    text-align: center;
}
.bloqueIzq p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: #213E58;
    margin-top: 40px;
}
.bloqueDer img{
    width: 290px;
    height: 220px;
    object-fit: contain;
    border-radius: 8px;
}
.madridMobil{
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 8px;
}
.bloqueDer {
   display: flex;
   justify-content: center;
    height: 220px;
    display: none;
}
.botones{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*.botones a{
    width: 260px;
    height: 40px;
    background: #0692D0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 13px 15x;
    text-transform: uppercase;
}*/
.botones a{
   display: none;
   padding: 12px 0;
   text-align: center;
}
.botones a svg{
    margin-right: 10px;
}
.bloqueIzq p:nth-child(3) {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    color: #213E58;
    margin-top: 25px;
}
@media (min-width: 610px) {
    .contenedorSectionUno {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0;
        padding-top: 30px;
        max-width: 1060px;
        margin: 0 auto;
    }
    .bloqueDer{
        width: 480px;
        height: 364px;
        display: block;
    }
    .bloqueIzq {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .linea {
        position: relative;
        display: inline-block;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(150%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }
    .bloqueDer img {
        width: 480px;
        height: 364px;
    }
    .bloqueIzq h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
        color: #213E58;
        width: 90%;
        text-align: left;
    }

    .bloqueIzq p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
        color: #213E58;
        margin-top: 25px;
    }
    .bloqueIzq p:nth-child(3) {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
        line-height: 20px;
        color: #213E58;
        margin-top: 25px;
    }

    .botones {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    /*.botones a:nth-child(2) {
        display: block;
    }*/
    .botones a {
        width: 250px;
        height: 40px;
        background: #E83C82;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 13px 0px;
        text-transform: uppercase;
    }
    /*.botones a:nth-child(1) {
        width: 250px;
        height: 40px;
        background: #0692D0;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 13px 0px;
        text-transform: uppercase;
    }*/

    .botones a svg {
        margin-right: 10px;
    }
}