.sectionBreadcrumbs{
    display: none;
}
@media (min-width: 610px) {
    .contenedorBreadcrumbs {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 11px;
        color: #0692D0;
        display: flex;
        align-items: center;
    }
.sectionBreadcrumbs{
        padding-top: 136px;
        max-width: 1060px;
        margin: 0 auto;
}
    .contenedorBreadcrumbs svg {
        font-size: 20px;
        margin-top: 2px;
    }

    .sectionBreadcrumbs {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 11px;
        color: #213E58;
      
    }
}