.contenedorSectionCuatro{
    height: 470px;
    margin-bottom: 50px;
}
.contenedorSectionCuatroMargen{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.bloqueIzq{
    width: 100%;
}
.bloqueDer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 100%;
}
.bloqueIzq h3{
    color: #0F2D45;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 40px;
    padding: 0 50px;
    position: initial;
}
.bloqueIzq p {
    color: #0F2D45;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
    padding: 0 20px;
    position: initial;
}
.logosOtsu{
    display: none;
}
.logosOtsuMobil{
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 610px) {
    .contenedorSectionCuatro {
        max-width: 1060px;
        margin: 0px auto 50px;
        display: flex;
        flex-direction: row;
        background-image: url(/assets/img/backgroundSectionCuatro.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
    }

    .bloqueIzq {
        width: 60%;
    }

    .bloqueDer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 689px;
        width: 40%;
    }

    .bloqueIzq h3 {
        color: #0F2D45;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 40px;
        width: 30%;
        position: absolute;
        left: 0;
        top: 88px;
        padding: 0;
        text-align: left;
    }

    .bloqueIzq p {
        color: #0F2D45;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 0 816px 0 0;
        bottom: 0;
        left: 0;
        margin-bottom: 60px;
        position: absolute;
    }
    .logosOtsu {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30%;
        height: auto;
    }
    .logosOtsuMobil {
        display: none;
    }
}