.tituloPreguntas{
    color: #0F2D45;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 30px 20px 5px 20px;
    font-family: 'Gotham Bold';
}
.contenedorSectionDosMobiContenidoUltimo{
    margin-bottom: 30px;
}

@media (min-width: 821px) {
    .contenedorSectionDosMobil{
        display: none;
    }
}