.contenedorSectionCuatro{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 20px;
}
.bloqueIzq {
width: 100%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    margin-bottom: 30px;
    text-align: center;
}
.bloqueIzq p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #213E58;
    text-align: center;
    margin-bottom: 30px;
}

.bloqueDer img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
}
.linea {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(30%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
@media (min-width: 1191px) {
    .contenedorSectionCuatro {
        display: flex;
        padding: 0;
        flex-direction: row;
        margin-top: 60px;
        justify-content: space-between;
    }

    .bloqueIzq {
        width: 50%;
    }

    .bloqueIzq h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #213E58;
        margin-bottom: 15px;
        text-align: start;
    }

    .bloqueIzq p {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #213E58;
        text-align: start;
        margin-bottom: 0;
    }

    .linea {
        position: relative;
        display: inline-block;
        margin-left: 5px;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(30%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }
    .bloqueDer img {
        width: 480px;
        height: 390px;
    }
}