.contenedorSectionCuatro{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.bloqueIzq {
width: 50%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #213E58;
    margin-bottom: 15px;
}
.bloqueIzq p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #213E58;
}

.linea {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(30%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}