.contenedorSectionDos{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.bloqueIzq {
    width: 100%;
    border-radius: 8px;
    background: #0F2D45;
    padding: 40px 30px;
}
.bloqueIzqTitulo{
    color: #FFF;
    font-family: "Gotham Black";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bloqueIzqTexto{
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.bloqueDer{
    width: 99%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #000;
    position: relative;
    padding: 35px 50px 0 50px;
}
.ImageAdorno{
    margin-top: 65px;
    margin-left: 35px;
}
.bloqueDerUno h2{
    color:  #213E58;
    text-align: center;
    font-family: "Gotham Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.bloqueDerUno p{
    color: #213E58;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 20px;
}
.bloqueDerUno p span{
    color: #213E58;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    font-family: "Gotham Bold";
}
.bloqueDerDos h2{
    color: #213E58;
    text-align: center;
    font-family: "Gotham Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.bloqueDerDos p {
    color: #213E58;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}
@media (min-width: 821px) {
    .contenedorSectionDos {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
    .bloqueIzq {
        width: 50%;
        border-radius: 8px;
        background: #0F2D45;
        padding: 40px 30px;
    }
    .bloqueIzqTitulo {
        color: #FFF;
        font-family: "Gotham Black";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bloqueIzqTexto {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }
    .bloqueDer {
        width: 50%;
        height: auto;
        border-radius: 8px;
        border: 1px solid #000;
        position: relative;
        padding: 35px 50px 0 50px;
    }
   
    .bloqueDerUno h2 {
        color: #213E58;
        text-align: center;
        font-family: "Gotham Bold";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .bloqueDerUno p {
        color: #213E58;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bloqueDerUno p span {
        color: #213E58;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        font-family: "Gotham Bold";
    }
    .bloqueDerDos h2 {
        color: #213E58;
        text-align: center;
        font-family: "Gotham Bold";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .bloqueDerDos p {
        color: #213E58;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
    }
    .ImageAdorno {
        margin-top: 75px;
        margin-left: 90px;
    }
}
