.contenedorSectionDos{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 0 50px 0 ;
}
.contenedorSectionDosMargen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorSectionDosMargen h2{
    color: #0F2D45;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 40px 0;
    font-family: 'Gotham Bold';
}
.linea {
    position: relative;
    display: inline-block;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(50%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.evolucionExpansion{
    display: none;
}
 .evolucionExpansionMobil {
     display: block;
     width: auto;
     height: auto;
 }

@media (min-width: 610px) {
.contenedorSectionDos {
        max-width: 1060px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .contenedorSectionDosMargen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedorSectionDosMargen h2 {
        color: #0F2D45;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 10px 0 40px 0;
    }
    .linea {
        position: relative;
        display: inline-block;
    }
    .linea:before {
        content: '';
        width: 100%;
        z-index: -1;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(50%);
    }
    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }
    .evolucionExpansion {
        display: block;
    }
    .evolucionExpansionMobil{
        display: none;
    }
}