.contenedorMenuSticky {
    display: none;
}
.contenedorMenu {
    display: none;

}

.botonLlamar a {
    display: none;
}

@media (min-width: 1191px) {
    .headersticky {
        position: fixed;
        top: 0;
        background: #0692D0;
        width: 100%;
    }

    .contenedorMenuSticky {
        height: 50px;
        width: 100%;
        display: block;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    }

    .contenedorMenuSticky ul {
        display: flex;
        margin: 0 auto;
        max-width: 1060px;
    }

    .contenedorMenuSticky ul a {
        padding: 13px 20px;
        transition: 0.3s;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }

    .contenedorMenuSticky ul li:hover {
        background: #0A6A94;
        border-radius: 2px;
    }

    .contenedorMenuSticky ul li {
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 13px;
        font-style: normal;
        display: flex;
        align-items: center;
    }

    .contenedorMenu {
        height: 50px;
        width: 100%;
        display: block;
    }

    .contenedorMenu ul {
        display: flex;
        margin: 0 auto;
        max-width: 1060px;
    }

    .contenedorMenu ul a {
        padding: 13px 20px;
        transition: 0.3s;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }

    .contenedorMenu ul li:hover {
        background: #0A6A94;
        border-radius: 2px;
    }

    .contenedorMenu ul li {
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 13px;
        font-style: normal;
        display: flex;
        align-items: center;
    }

}