.contenedorConversor{
    width: 100%;
    height: auto;
    background: #0692D0;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.conversorTitulo  {
  display: flex;
  gap: 15px;
}
.conversorTexto p{
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.conversorTexto h2{
    font-weight: 900;
    font-size: 22px;
    line-height: 37px;
    color: #FFFFFF;
}

.botonLlamarTienda {
    background: #E83C82;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    align-items: center;
    text-align: center;
    padding: 13px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 280px;
    margin-top: 30px;
    display: block;
}
.contenedorAmbosBloquesOro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.contenedorBloqueSuperior{
    width: 100%;
    height: 155px;
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
}
.contenedorBloqueSuperiorPlata {
    width: 100%;
    height: 166px;
    background: linear-gradient(180deg, #1864A8 0%, rgba(24, 100, 168, 0) 100%);
    border-radius: 8px;
    padding: 10px;
}
.botones{
    display: flex;
    gap: 10px;
}
.button{
    border: 0.5px solid #B6CFE9;
    background: #FFF;
    padding: 6px 10px;
    border-radius: 2px;
    border: 0.5px solid #B6CFE9;
    color: #B6CFE9;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    cursor: pointer;
}
.botonActivo{
    background: #0692D0;
    color: #FFFFFF;
}
.contenedorPrecios{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.contenedorPreciosPlata {
    display: flex;
    justify-content: space-between;
}
.contenedorprecioDestacado{
    display: flex;
    justify-content: center;
}
.precioDestacado{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contenedorprecioDestacadoPlata {
    display: flex;
    justify-content: center;
    width: 70%;
}
.precioDestacadoPlata {
    width: 118px;
    height: 76px;
}
.masde{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.precio18k{
    color: #0F2D45;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
    font-family: 'Gotham Black';
}
.precio999{
    color: #0F2D45;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
    font-family: 'Gotham Black';
}
.precio999 span{
    color: #0F2D45;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Gotham Black';
}
.precio18k span{
    color: #0F2D45;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Gotham Black';
}
.kilates{
    color: #0692D0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Gotham Black';
    margin-bottom: 5px;
}
.contenedorOtrosPrecios{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.OtrosPrecios{
    background: #F3FBFE;
    border-radius: 8px;
    width: 87px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}
.precio{
    color: #0F2D45;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Gotham Medium';
}
.OtrosPrecios p span{
    color: #0F2D45;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.preciok{
    color: #0692D0;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Gotham Black';
}
.contenedorCalculadora{
    background: #fff;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
}
.contenedorCalculadora h2{
    color: #0F2D45;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Gotham Black';
}
.contenedorCalculadora h2 span{
    color: #0F2D45;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Gotham Book';
}
.contenedorSelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    margin: 20px auto;
}

.Select select{
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background: #F3FBFE;
    outline: none;
    padding: 5px 5px;
    color: #213E58;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.Select select option{
    color: #213E58;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}
.Select p, .input p{
    color: #0F2D45;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input span{
    font-size: 16px;
    line-height: 11px;
    color: #0F2D45;
    margin-left: 4px;
}
.input input{
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background: #F3FBFE;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #213E58;
    padding: 0 5px;
}
.tituloInferior{
    color: #0F2D45;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.precioFinal{
    color: #0F2D45;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'Gotham Black';
}
.precioFinal span{
    font-size: 22px;
}
.promocion{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
}
.linea {
    position: relative;
    display: inline-block;
}

.linea:before {
    content: '';
    width: 100%;
    z-index: 0;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(15%);
}

.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.contenedorPrecioPlata{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1061px) {
.contenedorConversor {
        width: 100%;
        height: auto;
        background: #0692D0;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .conversorTitulo {
        display: flex;
        gap: 15px;
    }

    .conversorTexto p {
        font-weight: 100;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .conversorTexto h2 {
        font-weight: 900;
        font-size: 22px;
        line-height: 37px;
        color: #FFFFFF;
    }

    .botonLlamarTienda {
        background: #E83C82;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        align-items: center;
        text-align: center;
        padding: 13px 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: 280px;
        margin-top: 30px;
        display: block;
    }

    .contenedorAmbosBloquesOro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .contenedorBloqueSuperior {
        width: 100%;
        height: 155px;
        background: #fff;
        border-radius: 8px;
        padding: 10px 20px;
    }

    .contenedorBloqueSuperiorPlata {
        width: 100%;
        height: 166px;
        background: linear-gradient(180deg, #1864A8 0%, rgba(24, 100, 168, 0) 100%);
        border-radius: 8px;
        padding: 10px;
    }

    .botones {
        display: flex;
        gap: 10px;
    }

    .button {
        border: 0.5px solid #B6CFE9;
        background: #FFF;
        padding: 6px 10px;
        border-radius: 2px;
        border: 0.5px solid #B6CFE9;
        color: #B6CFE9;
        font-weight: 700;
        font-size: 14px;
        line-height: 10px;
        cursor: pointer;
    }

    .botonActivo {
        background: #0692D0;
        color: #FFFFFF;
    }

    .contenedorPrecios {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .contenedorPreciosPlata {
        display: flex;
        justify-content: space-between;
    }

    .contenedorprecioDestacado {
        display: flex;
        justify-content: center;
    }

    .precioDestacado {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contenedorprecioDestacadoPlata {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .precioDestacadoPlata {
        width: 118px;
        height: 76px;
    }

    .masde {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    .precio18k {
        color: #0F2D45;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -15px;
        font-family: 'Gotham Black';
    }

    .precio18k span {
        color: #0F2D45;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'Gotham Bold';
    }
    .precio999 {
        color: #0F2D45;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -8px;
        font-family: 'Gotham Black';
    }

    .precio999 span {
        color: #0F2D45;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'Gotham Black';
    }
    .kilates {
        color: #0692D0;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .contenedorOtrosPrecios {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .OtrosPrecios {
        background: #F3FBFE;
        border-radius: 8px;
        width: 101px;
        height: 51px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    }

    .precio {
        color: #0F2D45;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        font-family: 'Gotham Medium';
    }

    .OtrosPrecios p span {
        color: #0F2D45;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    .preciok {
        color: #0692D0;
        text-align: left;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    .contenedorCalculadora {
        background: #fff;
        border-radius: 8px;
        width: 100%;
        height: 244px;
        margin-top: 20px;
        padding: 10px;
    }

    .contenedorCalculadora h2 {
        color: #0F2D45;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .contenedorCalculadora h2 span {
        color: #0F2D45;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .contenedorSelect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
        margin: 20px auto;
    }

    .Select select {
        width: 120px;
        height: 40px;
        border-radius: 2px;
        background: #F3FBFE;
        outline: none;
        padding: 5px 5px;
        color: #213E58;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        border: none;
    }

    .Select select option {
        color: #213E58;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
    }

    .Select p,
    .input p {
        color: #0F2D45;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .input span {
        font-size: 16px;
        line-height: 11px;
        color: #0F2D45;
        margin-left: 4px;
    }

    .input input {
        width: 120px;
        height: 40px;
        border-radius: 2px;
        background: #F3FBFE;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        color: #213E58;
        padding: 0 5px;
    }

    .tituloInferior {
        color: #0F2D45;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .precioFinal {
        color: #0F2D45;
        text-align: center;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .precioFinal span {
        font-size: 22px;
    }

    .promocion {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 35px;
    }

    .linea {
        position: relative;
        display: inline-block;
    }

    .linea:before {
        content: '';
        width: 100%;
        z-index: 0;
        border-bottom: 7px solid #FBBE00;
        position: absolute;
        display: block;
        height: 5px;
        transform: translateY(15%);
    }

    .linea:before {
        left: 2px;
        top: calc(50% - 1px);
    }

    .contenedorPrecioPlata {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}