.contenedorMapa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}
.bloqueDer{
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
}
.bloqueIzq{
    width: 100%;
}
.bloqueIzq h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #213E58;
    padding: 0 20px;
    font-family: 'Gotham Bold';
}
.bloqueIzq p{
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #213E58;
    margin-top: 35px;
}
.bloqueIzq p span{
    color: #0692D0;
}
.linea {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.linea:before {
    content: '';
    width: 100%;
    z-index: -1;
    border-bottom: 7px solid #FBBE00;
    position: absolute;
    display: block;
    height: 5px;
    transform: translateY(30%);
}
.linea:before {
    left: 2px;
    top: calc(50% - 1px);
}
.reset_map {
    z-index: 90;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #000;
}
.contenedorTiendas {
    padding: 0 20px;
    overflow-x: hidden;
    height: 380px;
    margin-top: 20px;
}
.contenedorTiendas h3 {
    cursor: pointer;
}
.tienda {
    margin: 5px 0px 10px;
    cursor: pointer;
}

.tienda h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #213E58;
}

.tienda p {
    font-weight: 500;
    margin: 0 0 0 20px;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    color: #213E58;
}

.mapboxgl-popup-close-button {
    font-size: 25px;
}

.nombre_ciudad_popup {
    font-weight: 800;
    font-size: 13px;
    color: #003071;
}

.direccion_popup {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #003071;
    outline: none;
}

.contenedor_popuop p {
    margin: 0;

}

.telefono_popup {
    color: #B32234;
    text-decoration: none;
}

.telefono_popup span {
    color: #003071;
    font-weight: 600;
}

.boton_como_llegar {
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    padding: 2px 8px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    color: #B32234;
    border: 2px solid #003071;
    border-radius: 8px;
}
.contenedorInfoTiendaMapa{
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contenedorInfoTiendaMapa:hover {
        background: #f1f1f1;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contenedorInfoTiendaMapaActivo {
    background: #f1f1f1;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contenedorTiendas::-webkit-scrollbar {
    -webkit-appearance: none;
}
.contenedorTiendas::-webkit-scrollbar:vertical {
    width: 5px;
}
.contenedorTiendas::-webkit-scrollbar-button:increment,
.contenedorTiendas::-webkit-scrollbar-button {
    display: none;
}
.contenedorTiendas::-webkit-scrollbar:horizontal {
    background: #E9E9E9;
    border-radius: 20px;
}
.contenedorTiendas::-webkit-scrollbar-thumb {
    background: #0692D0;
    border-radius: 20px;
}
@media (min-width: 610px) {
    .contenedorMapa {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            flex-direction: row;
        }
    
        .bloqueDer {
            width: 640px;
            height: 600px;
            background-color: #f1f1f1;
        }
    
        .bloqueIzq {
            width: 90%;
        }
    
        .bloqueIzq h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 29px;
            text-align: center;
            color: #213E58;
        }
    
        .bloqueIzq p {
            font-weight: 700;
            font-size: 20px;
            line-height: 19px;
            text-align: center;
            color: #213E58;
            margin-top: 35px;
        }
    
        .bloqueIzq p span {
            color: #0692D0;
        }
    
        .linea {
            position: relative;
            display: inline-block;
            margin-left: 5px;
        }
    
        .linea:before {
            content: '';
            width: 100%;
            z-index: -1;
            border-bottom: 7px solid #FBBE00;
            position: absolute;
            display: block;
            height: 5px;
            transform: translateY(30%);
        }
    
        .linea:before {
            left: 2px;
            top: calc(50% - 1px);
        }
        .reset_map {
            z-index: 90;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            color: #000;
        }
        .contenedorTiendas {
            padding: 0 20px;
            overflow-x: hidden;
            height: 470px;
        }

        .tienda {
            margin: 5px 0px 10px;
            cursor: pointer;
        }

        .tienda h5 {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #213E58;
        }

        .tienda p {
            font-weight: 500;
            margin: 0 0 0 20px;
            font-size: 14px;
            text-align: left;
            line-height: 20px;
            color: #213E58;
        }

        .nombre_ciudad_popup {
            font-weight: 800;
            font-size: 13px;
            color: #003071;
        }

        .direccion_popup {
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            color: #003071;
            outline: none;
        }

        .contenedor_popuop p {
            margin: 0;

        }

        .telefono_popup {
            color: #B32234;
            text-decoration: none;
        }

        .telefono_popup span {
            color: #003071;
            font-weight: 600;
        }

        .boton_como_llegar {
            font-style: normal;
            font-weight: 900;
            font-size: 10px;
            padding: 2px 8px;
            line-height: 20px;
            text-decoration: none;
            text-align: center;
            color: #B32234;
            border: 2px solid #003071;
            border-radius: 8px;
        }
}